<% chats.each do |chat| %>
  <% if chat.user_id == current_user.id %>
    <div class="text-right mt-2"><sapn class="py-1 px-1" style="border-radius: 10px; background: white;"><%= chat.message %></sapn></div>
  <% else %>
    <div class="text-left mt-2"><sapn class="py-1 px-1" style="border-radius: 10px; background: white;"><%= chat.message %></sapn></div>
  <% end %>
<% end %>