<h1 class="users-heading">メッセージ一覧</h1>
<% @another_user_rooms.each do |user_room| %>
<div class="users-index-item">
<!-- 左側に最新メッセージを送ったユーザーのプロフィール画像 -->
  <div class="user-left">
  <%= link_to chat_path(user_room.user_id) do %>
    <% image_tag user_room.user.name %>
  <% end %>
  </div>
<!-- 右側に最新メッセージを送ったユーザーの名前及び、そのメッセージ -->
  <div class="user-right">
  <%= link_to chat_path(user_room.user_id) do %>
    <%= user_room.user.name %>とDMをしよう！<br>
  <% end %>
    <%= room.messages.order(created_at: :desc).take.try(:content) %>
  </div>
</div>
<% end %>